[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "thirdparty/actor-zeta"]
	path = thirdparty/actor-zeta
	url = https://github.com/smart-cloud/actor-zeta.git
