[build-system]
requires = [
    "setuptools>=42",
    "scikit-build>=0.13",
    "pybind11>=2.10.0",
    "cmake",
    "ninja; platform_system!='Windows'",
]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = [
    "--import-mode=importlib",
]
[project]
name = "Django"
dynamic = ["version"]
requires-python = ">= 3.10"
dependencies = []
authors = [
    {name = "Otterbrix Team", email = "team@otterbrix.com"},
]
description = "Otterbrix: computation framework for Semi-structured data processing."
readme = "README.md"
license = {text = "BSD-3-Clause"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Framework :: Otterbrix :: 1.0.0a9",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Database",
    "Topic :: Database :: Database Engines/Servers",
]