name: macos

on:
  pull_request:
  push:
    branches:
      - main

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  run:
    name: Run
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install system dependencies
        run: |
            brew update && (brew list ninja || brew install ninja) && (brew list cmake || brew install cmake)
            python3 -m pip install --no-cache-dir conan==2.20.0  pytest==6.2.5 --break-system-packages

      - name: conan installation and configuration
        run: |
          conan profile detect --force
          conan remote add otterbrix http://conan.otterbrix.com

      - name: download dependencies
        run: |
          mkdir build && cd build
          cp ../conanfile.py .
          conan install . --build missing -s build_type=Release -s compiler.cppstd=gnu17

      - name: build
        env:
          CC: gcc
        run: |
          cd build
          cmake  -G Ninja -DCMAKE_TOOLCHAIN_FILE=./build/Release/generators/conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release -DDEV_MODE=ON -DEXAMPLE=ON ..
          cmake --build .

      - name: Test
        run: |
          cd build
          ctest -C Release -V --output-on-failure